<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="408a12c2-8999-44ec-888e-53e9e241f685" name="TestSuite 1" xmlns:con="http://eviware.com/soapui/config">
  <con:description>Test Suite Description remote</con:description>
  <con:settings>
    <con:setting id="408a12c2-8999-44ec-888e-53e9e241f685fileName">TestSuite-1</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:setupScript>log.info("test suite setup script remote" )</con:setupScript>
  <con:tearDownScript>log.info("test suite teardown script remote" )</con:tearDownScript>
  <con:reportScript>log.info("test suite report script remote" )</con:reportScript>
  <con:reportParameters/>
</con:testSuite>
